/* Header.css */

.header {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .header-background {
    background-image: url('../img/FONDOINICIO.png');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo-container {
    margin-top: 10px;
  }
  
  .logo {
    width: 170px;
  }
  
  .header-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500%;
    margin-top: -90px;
  }
  
  .header-content h1 {
    font-size: 60px;
  }
  
  .line {
    width: 50%;
    margin: -5px auto;
    border: 1px solid white;
  }
  
  .btn{
    background-color: #107a94;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #308710;
  }
  
  .h1in{
width: 655px;
height: 70px;
flex-shrink: 0;
color: #FFF;

text-align: center;
font-family: jsMath-cmti10;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
  }

  .pini{
    width: 900px;

    color: #FFF;

text-align: center;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

