/* ../../assets/styles/servi2.css */

.titulo4 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center; /* Añadido para centrar el texto */
}

.subtitulo4 {
  font-size: 18px;
  color: #666;
  text-align: center; /* Añadido para centrar el texto */
}
